* {
    box-sizing: border-box;
    font-family: system-ui;
}

:root {
    --btn-color: ghostwhite;
    --btn-background: linear-gradient(hsl(210deg 100% 50%), hsl(210deg 100% 42%));
    --chkbox-color: hsl(210deg 100% 42%);
    --font-size: 16px;

    /* Theme light */
    --text-color: hsl(0deg 0% 17%);
    --background-color: ghostwhite;
    --line-color: hsl(0deg 0% 80%);
    --toolbar-btn-color: hsl(210deg 100% 40%);
    --toolbar-btn-background: hsl(210deg 100% 93%);
    --toolbar-btn-hover-color: hsl(210deg 100% 90%);
    --input-background-color: white;
    --input-text-color: hsl(0deg 0% 17%);
}

[data-theme="dark"] {
    --text-color: hsl(0deg 0% 90%);
    --background-color: hsl(0deg 0% 16%);
    --line-color: hsl(0deg 0% 40%);
    --toolbar-btn-color: ghostwhite;
    --toolbar-btn-background: hsl(0deg 0% 23%);
    --toolbar-btn-hover-color: hsl(0deg 0% 31%);
    --input-background-color: hsl(0deg 0% 13%);
    --input-text-color: white;

    input::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

/* ***************** Elements ***************** */
body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: var(--font-size);
    margin: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 3rem;
    background: var(--btn-background);
    color: var(--btn-color);
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    font-size: inherit;
}

button + button {
    margin-left: 0.2rem;
}

dialog {
    background: transparent;
    border: 0;
    outline: none;
    color: var(--text-color);
}

dialog::backdrop {
    background: linear-gradient(hsl(0deg 0% 10% / 40%), hsl(0deg 0% 50% / 40%));
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

textarea {
    resize: vertical;
}

input:invalid,
textarea:invalid {
    border-bottom: 2px solid red;
}

label {
    margin-bottom: 0.5rem;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

select {
    border: none;
    margin-right: 0.5rem;
    border-radius: 3px;
    font-size: inherit;
}

[type="checkbox"] {
    accent-color: var(--chkbox-color);
    height: 18px;
    width: 18px;
}

[type="checkbox"] + label {
    vertical-align: top;
}

[type="range"] {
    padding: 0;
    border: 0;
}

[type="range"] + datalist {
    display: flex;
    justify-content: space-between;
    margin: 0 4px;
}

/* ***************** Classes ***************** */

.btn-action:hover {
    filter: brightness(1.3);
}

.btn-active {
    outline: 2px solid var(--toolbar-btn-color);
}

.btn-delete {
    color: var(--toolbar-btn-color);
    background: var(--toolbar-btn-background);
}

.btn-delete:hover {
    background: red;
    color: white;
}

.btn-sort {
    display: flex;
}

.btn-toolbar {
    color: var(--toolbar-btn-color);
    background: var(--toolbar-btn-background);
}

.btn-toolbar:hover {
    background: var(--toolbar-btn-hover-color);
    box-shadow: 0 0 10px -7px #48a0ff;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 20rem;
    max-width: 50rem;
    height: 100vh;
    margin: 0 auto;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    padding: 1rem;
    border-radius: 6px;
    min-width: 40vw;
}

.font-large {
    font-size: 1.5rem;
}
.navbar,
.toolbar {
    display: flex;
    width: 100%;
    padding-bottom: 0.8rem;
}

.sort-select {
    display: none;
}

.toolbar {
    border-bottom: 1px solid var(--line-color);
}

.grid-description {
    grid-area: descr;
    white-space: pre-line;
    line-height: 1.2rem;
}

.grid-edit {
    grid-area: edit;
    margin: auto 0 auto auto;
}

.grid-name {
    grid-area: name;
    font-size: x-large;
    align-self: center;
    font-weight: 500;
}

.grid-importance {
    grid-area: importance;
    margin-left: auto;
    align-self: center;
}

.grid-status {
    grid-area: status;
    align-self: center;
}

.items-center {
    align-items: center;
}

.light {
    font-style: italic;
    opacity: 0.5;
}
.li-container {
    display: grid;
    grid-template:
        "status name importance edit"
        "done descr descr descr" / minmax(6rem, 20%) 1fr 5rem auto;
    gap: 1rem;
    border-bottom: 1px solid;
    border-bottom-color: var(--line-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.no-list {
    font-size: 36px;
    color: silver;
    text-align: center;
    margin-top: 2rem;
}

.spinner {
    --size: 100px;

    border: 8px solid hsl(210deg 0% 95%);
    border-radius: 100%;
    border-top: 8px solid var(--chkbox-color);
    width: var(--size);
    height: var(--size);
    animation: spinner 3s linear infinite;
    margin: 1rem;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-text {
    background: var(--background-color);
    padding: 0.8rem;
    border-radius: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.todo-nav {
    position: sticky;
    top: 0;
    background: var(--background-color);
    padding-top: 8px;
}

/* ***************** Utility Classes ***************** */

.align-right {
    margin-left: auto !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.col {
    flex-direction: column;
}

.disabled {
    pointer-events: none;
}

.flex {
    display: flex;
}

.hidden {
    display: none !important;
}

.info {
    margin: auto;
    color: var(--toolbar-btn-color);
}

.mb-1 {
    margin-bottom: 0.8rem;
}

.mr-1 {
    margin-right: 0.8rem;
}

.multi-line {
    white-space: pre-wrap;
}

.row {
    flex-direction: row;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.x-large {
    font-size: xx-large;
    font-weight: bold;
}

@media (max-width: 600px) {
    :root {
        --font-size: 17px;
    }
    .sort-select {
        display: inline-block;
    }

    .btn-sort {
        display: none;
    }

    .li-container {
        grid-template:
            "name name edit"
            "status date importance"
            "descr descr descr" / 1fr 1fr 1fr;
    }
}
